extends ./layout/base
block variables
    - var pageTitle = 'Tungsten Advertising Case Study | Ambassador Toys'

prepend preload

append head


block page
    div(class="min-h-[500px] hero relative grid overflow-hidden bg-gradient-to-b from-blue-dark via-[#004B80] to-blue-light")



        img(src="img/Ambassador_Toys/AmbassadorToysLogo@500.png", srcset="img/Ambassador_Toys/AmbassadorToysLogo@252.png 300w, img/Ambassador_Toys/AmbassadorToysLogo@378.png 378w, img/Ambassador_Toys/AmbassadorToysLogo@500.png 500w, img/Ambassador_Toys/AmbassadorToysLogo@500.png 500w, img/Ambassador_Toys/AmbassadorToysLogo@755.png 755w, img/Ambassador_Toys/AmbassadorToysLogo@1006.png 1006w, img/Ambassador_Toys/AmbassadorToysLogo@1509.png 1509w" sizes="(max-width:640px) 256px, (max-width:1024px) 288px, 503px" alt="Ambassador Logo Image" class="absolute inset-0 m-auto mt-24 sm:mt-32 z-50 w-64 sm:w-72 lg:w-[503px] toys-logo transition-transform" width="503" height="162")
        div(class="clouds absolute top-1/2 left-0 right-0 bottom-0 w-full overflow-hidden z-20")
            img(src="img/Ambassador_Toys/cloud_01.svg", class="absolute cloud" alt="" style="--top: 35px; --delay: -2s; --duration: .9")
            img(src="img/Ambassador_Toys/cloud_06.svg", class="absolute cloud" alt="" style=" --top: 2px; --delay: -3s; --duration: 1")
            img(src="img/Ambassador_Toys/cloud_08.svg", class="absolute cloud " alt="" style="--top: 40px; --delay: -4.4s; --duration: 1.1")
            img(src="img/Ambassador_Toys/cloud_09.svg", class="absolute cloud " alt="" style="--top: 20px; --delay: -5.1s; --duration: .9")
            img(src="img/Ambassador_Toys/cloud_10.svg", class="absolute cloud " alt="" style="--top: 40px; --delay: -6s; --duration: .9")
            img(src="img/Ambassador_Toys/cloud_11.svg", class="absolute cloud " alt="" style="--top: 20px; --delay: 1s; --duration: .9")
            img(src="img/Ambassador_Toys/cloud_02.svg", class="absolute cloud " alt="" style="--top: 20px; --delay: -1.3s; --duration: .9")
            img(src="img/Ambassador_Toys/cloud_03.svg", class="absolute cloud " alt="" style="--top: 40px; --delay: 1.8s; --duration: .9")
            img(src="img/Ambassador_Toys/cloud_04.svg", class="absolute cloud " alt="" style="--top: 40px; --delay: 4s; --duration: .9")
            img(src="img/Ambassador_Toys/cloud_05.svg", class="absolute cloud " alt="" style="--top: 40px; --delay: -7.8s; --duration: .9")
            img(src="img/Ambassador_Toys/cloud_12.svg", class="absolute cloud " alt="" style="--top: 40px; --delay: -3.3s; --duration: .9")
            img(src="img/Ambassador_Toys/cloud_13.svg", class="absolute cloud " alt="" style="--top: 40px; --delay: 2.1s; --duration: .9")
        img(src="img/Ambassador_Toys/clouds_back.svg", alt="Clouds background image" width="2300" height="594" class="absolute h-1/2 object-cover object-top left-0 bottom-0 z-30 translate-y-16 lg:translate-y-20 mt-auto scale-110")
        div(class="sky-fade-bottom absolute w-full h-2/3 top-auto left-0 right-0 bottom-0 bg-gradient-to-b from-transparent to-white z-0 opacity-50" )
        img(src="img/Ambassador_Toys/moon.svg", alt="alt" width="123" height="133" class="moon absolute top-1/4 left-20 z-10")
        div(class="stars relative z-0 stars_fadein")
    +page-title({
        tagClient: 'Ambassador Toys',
        h1: 'How a Neighborhood Toy Store Got San Francisco’s Attention.',
        subtitle: 'A retail chain of toy stores across the San Francisco Bay Area had been buying media space, but had never had a creative agency.',
        classes: '-translate-y-20 z-50 relative'
    })
    //- +lead-in(`When you're a <span class="text-blue-light">tightrope walker</span> traversing the <span class="text-blue-light">Grand Canyon</span>, a surprise gush of wind can mean the end of your world.`)

    article(class=" page-content -mt-20 leading-relaxed overflow-hidden")
        .container.flow-root
            img(src="img/Ambassador_Toys/giraffe.png", srcset="img/Ambassador_Toys/giraffe.png 410w, img/Ambassador_Toys/giraffe@1.5x.png 616w, img/Ambassador_Toys/giraffe@2x.png 820w, img/Ambassador_Toys/giraffe@3x.png 1230w", sizes="192px, (min-width: 640px) 256px, (min-width: 768px) 37vw, (min-width: 1024px) 393px", alt="Giraffe Toy" class="float-right shape-outside -mt-8 -mr-12 w-48 sm:w-64 md:w-5/12" width="376" height="516" data-aos="zoom-in-down")
            p.drop-cap(style="--color: hsla(205, 74%, 47%, 1)").
                For years, the stores had relied on TV stations or the in-house graphics departments of newspapers to create the ads. (Most publications will offer this service if you buy space from them.)
            p.
                This led to fragmented creative executions. Each ad had a different message and a different look.

            p.
                Although the retail store had a sizable media spend, it was not  resulting in a unified brand image. In fact, it may have been doing the opposite. Disparate creative executions produced by  different publications were likely eroding and fragmenting the  brand's image in the mind of the consumer.
            p.
                Tungsten's immediate task was to give the brand a central idea, and execute that idea across multiple consumer touch-points, so  that the brand had a consistent message and image.
            p.
                What differentiates this chain from other toy retailers is that it has the finest collection of high quality, intellectually stimulating, often unusual toys. Toys designed to make the child think, engage, and grow.
            p.
                The brand is targeted toward parents that are predominantly  affluent, internationally aware, environmentally conscious, and  who seek toys for their children that can be described as wise, useful, having longevity, stimulating the imagination. Toys that are social and interactive.

            div.relative.my-10
                div.relative.flex.items-center
                    div(data-aos="zoom-out" class="relative z-10")
                        img(loading="lazy" src="img/Ambassador_Toys/toys_works/bearNecessities.jpg", srcset="img/Ambassador_Toys/toys_works/bearNecessities.jpg 1x, img/Ambassador_Toys/toys_works/bearNecessities@2x.jpg 2x, img/Ambassador_Toys/toys_works/bearNecessities@3x.jpg 3x" sizes="60vw, (min-width: 768px) 520px" alt="" width="514" height="174" class="-rotate-3 shadow-2xl flex-none relative z-20" )
                    img(loading="lazy" src="img/Ambassador_Toys/paper_plane.png", alt="" class="flex-none h-max" width="199" height="85" data-aos="zoom-out-right" data-aos-delay="550" class="w-3/12 md:w-auto")
                div(data-aos="zoom-out" data-aos-data-aos-delay="350" class="z-30 relative")
                    img(loading="lazy" src="img/Ambassador_Toys/toys_works/catchThem.jpg" srcset="img/Ambassador_Toys/toys_works/catchThem.jpg 1x, img/Ambassador_Toys/toys_works/catchThem@2x.jpg 2x, img/Ambassador_Toys/toys_works/catchThem@3x.jpg 3x", alt="" width="631" height="213" class="rotate-3 shadow-2xl sm:-mr-10 ml-auto " )
                img(loading="lazy" src="img/Ambassador_Toys/two_clouds.png", alt="" class="absolute inset-0 -left-32 -z-10" data-aos="zoom-in-right" data-aos-duration="700")

            div(class="relative w-96 aspect-square mx-auto sm:float-left" style="shape-outside: circle(50%);")
                div(class=" absolute z-10 inset-0 bottom-3 right-2 m-auto w-72 h-36 text-white uppercase text-xl font-proxima-bold text-center leading-relaxed rounded-full").
                    Tungsten has years of experience creating distinctive/memorable  advertising ideas for uniquely San Francisco brands.
                img(src="img/Ambassador_Toys/BlueCircleStars.svg", alt="" class="-left-8 absolute z-0 scale-110 sm:scale-105" loading="lazy" width="402" height="374")
            p(class="sm:!mt-20").
                Tungsten gave the brand a distinctive look, voice, style, and identity. The creative gives the brand an image that is charming,  irreverent, witty, unpredictable, sometimes wry, always cerebral, independent and premium.
            p.
                It differentiates the retail chain from “big-box” competitors like  Walmart by communicating the value of toys. And the values of the retail store. And by emphasizing values like quality of build, and quality of emotional engagement.
            p.
                Each ad is topical and based on current events and seasons. This strategy allowed Tungsten to demonstrate the wide range of toys the stores carry, and to show that this retailer offers a hand picked selection that appeals to its faithful target audience.

            div(class="relative mt-10 lg:mt-16 pb-24 sm:pb-36 lg:pb-48 min-h-max" style="text-shadow: 0 0 10px #fff;")

                p(class="sm:w-10/12 lg:w-11/12 relative z-50").
                    Readers of the San Francisco Chronicle found these ads so enjoyable that they looked forward to the new creative every time the weekly ad was published on Tuesday mornings.
                p(class="w-11/12 sm:pr-0 sm:w-10/12 relative z-50").
                    Tungsten has years of experience creating distinctive/memorable  advertising ideas for uniquely San Francisco brands.
                p(class="w-7/12 xs:w-8/12 sm:w-9/12 relative z-50" ).
                    Whether your product is exclusive to San Francisco or  distributed across the world, we would love to hear from you  about your brand and share ideas on how advertising can help achieve your company's business objectives.
                div(class="absolute bottom-0 right-0 w-full left-0 z-0")
                    img(loading="lazy" src="../img/Ambassador_Toys/LightBulb.svg" width="77" height="113" class="z-10 lightbulb absolute left-1/2 -ml-20  bottom-2 md:bottom-8 hidden xs:inline-block scale-50 sm:scale-75 md:scale-100")
                    img(loading="lazy" src="img/Ambassador_Toys/Robot@301.png" srcset="img/Ambassador_Toys/Robot@151.png 151w, img/Ambassador_Toys/Robot@227.png 227w, img/Ambassador_Toys/Robot@452.png 452w, img/Ambassador_Toys/Robot@602.png 602w" alt="Robot Toy" class="absolute -right-10 md:-right-20 lg:-right-28 -bottom-1 xs:-bottom-5 md:-bottom-10 lg:bottom-0 left-auto w-48 sm:w-1/3 md:w-64 lg:w-72 z-20" width="301" height="466")
                    img(src="../img/Ambassador_Toys/Rainbow_clouds_bg.png" class="absolute right-0 -bottom-2 z-0")
        div(class="pt-14 sm:pt-20 relative")
            img(loading="lazy" src="img/Ambassador_Toys/blueBG.jpg" width="1920" height="1713" alt="alt" class="absolute z-0 inset-0 w-full h-full object-cover")
            .container.relative
                div(class="-left-2 -top-36 scale-75 sm:scale-100 sm:left-10 sm:-top-36 absolute z-0")
                    img(loading="lazy" src="img/Ambassador_Toys/butterfly@202.png" srcset="img/Ambassador_Toys/butterfly@101.png 101w, img/Ambassador_Toys/butterfly@152.png 152w, img/Ambassador_Toys/butterfly@202.png 202w, img/Ambassador_Toys/butterfly@304.png 304w, img/Ambassador_Toys/butterfly@404.png 404w, img/Ambassador_Toys/butterfly@606.png 606w, img/Ambassador_Toys/butterfly@804.png 804w" sizes="(max-width:640px) 151px, 202px" alt="Butterfly Image" class="butterfly" width="202" height="202" data-aos="zoom-in-up")
                div(class="toys-works-grid relative z-10 sm:-mt-8 flex flex-wrap justify-center sm:grid grid-cols-12 gap-6 sm:gap-8 place-items-center drop-shadow-xl  grid-flow-row-dense ")
                    a(href="img/Ambassador_Toys/toys_works/bestSeat@3x.jpg" data-fslightbox="gallery" class="col-span-8 row-span-4 sm:col-span-4 sm:row-span-3 sm:place-self-end")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/bestSeat.jpg", alt="Best Seat Image" width="226" height="146" style="transform: rotate(-1.68deg)")
                    a(href="img/Ambassador_Toys/toys_works/diabolicalPieces@3x.jpg" data-fslightbox="gallery" class="col-span-4 row-span-4 sm:col-span-3 sm:row-span-3 sm:self-start")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/diabolicalPieces.jpg", alt="Diabolical Pieces Image" width="180" height="176")
                    a(href="img/Ambassador_Toys/toys_works/giraffeAd@3x.jpg" data-fslightbox="gallery" class=" sm:col-span-5 sm:row-span-2 sm:self-start")
                        img(class=" shadow-xl " loading="lazy" src="img/Ambassador_Toys/toys_works/giraffeAd.jpg", alt="Girafee Ad Image" style=" transform: rotate(1.29deg) " width="298" height="102")
                    a(href="img/Ambassador_Toys/toys_works/zeroEmissionVehicle@3x.jpg" data-fslightbox="gallery" class=" sm:col-span-3 sm:row-span-3 sm:self-start" style="grid-column-start: 1")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/zeroEmissionVehicle.jpg", alt="Zero Emission Vehicle Image" width="181" height="146")
                    a(href="img/Ambassador_Toys/toys_works/randomActs@3x.jpg" data-fslightbox="gallery" class=" sm:col-span-4 sm:row-span-3")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/randomActs.jpg", alt="Random Acts of Hugging Image" width="249" height="161")
                    a(href="img/Ambassador_Toys/toys_works/easyRider@3x.jpg" data-fslightbox="gallery" class=" sm:col-span-5 sm:row-span-3 sm:self-start sm:justify-self-start" style="grid-row-start: 3; grid-column-start: 8")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/easyRider.jpg", alt="Easy Rider Image"  width="280" height="145")
                    a(href="img/Ambassador_Toys/toys_works/bearNecessities@3x.jpg" data-fslightbox="gallery" class=" sm:col-span-4 sm:row-span-1 sm:place-self-start" style="grid-column-start: 1")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/bearNecessities.jpg", alt="Bear Necessities Image" width="514" height="174" style="transform: rotate(0.44deg)")
                    a(href="img/Ambassador_Toys/toys_works/paparazzis@3x.jpg" data-fslightbox="gallery" class=" row-span-1 sm:col-span-3 sm:row-span-2 sm:self-start")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/paparazzis.jpg", alt="Paparazzis Image" width="170" height="137")
                    a(href="img/Ambassador_Toys/toys_works/notDoWindows@3x.jpg" data-fslightbox="gallery" class=" row-span-1 sm:col-span-4 sm:row-span-3 justify-self-end sm:-translate-y-16 " style="grid-row-start: 6; grid-column-start: 8")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/notDoWindows.jpg", alt="I don not do Windows Image" width="273" height="140")
                    a(href="img/Ambassador_Toys/toys_works/RadarDetector@3x.jpg" data-fslightbox="gallery" class=" sm:col-span-5 sm:row-span-2 sm:place-self-center sm:-translate-y-10" style="grid-row-start: 8; grid-column-start: 8;")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/RadarDetector.jpg", alt="Radar Detector Not Included Image" style=" transform: rotate(-0.35deg)" width="307" height="102")
                    a(href="img/Ambassador_Toys/toys_works/crumpledCasuals@3x.jpg" data-fslightbox="gallery" class=" sm:col-span-2 sm:row-span-8 sm:self-start" style="grid-row-start: 8; grid-row-end: 14")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/crumpledCasuals.jpg", alt="Crumpled Casuals Image"  width="107" height="408")
                    a(href="img/Ambassador_Toys/toys_works/semiFormalDinner@3x.jpg" data-fslightbox="gallery" class=" sm:col-span-3 sm:row-span-2 place-self-start sm:-translate-y-9 sm:-translate-x-3 " style="grid-column-start: 3; grid-row-start: 9;")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/semiFormalDinner.jpg", alt="Formal Dinner Image" width="186" height="97")
                    a(href="img/Ambassador_Toys/toys_works/kungShi@3x.jpg" data-fslightbox="gallery" class=" sm:col-span-2 sm:row-span-4 place-self-center sm:place-self-start sm:scale-150 sm:translate-y-3 " style="grid-column-start: 6; grid-row-start: 9;")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/kungShi.jpg", alt="Kung Shi Image" style=" transform: rotate(-0.82deg)"  width="180" height="203")
                    a(href="img/Ambassador_Toys/toys_works/ChinesePoster@3x.jpg" data-fslightbox="gallery" class="sm:col-span-3 sm:row-span-4 place-self-start sm:-translate-x-4 sm:-translate-y-8" style="grid-column-start: 3; grid-row-start: 11;")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/ChinesePoster.jpg", alt="Chinese Poster Image" width="183" height="275" )
                    a(href="img/Ambassador_Toys/toys_works/rakeInFun@3x.jpg" data-fslightbox="gallery" class="sm:col-span-3 sm:row-span-3 self-start sm:-translate-y-10 " style="grid-row-start: 10; grid-column-start: 9;")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/rakeInFun.jpg", alt="Rake in the Fun Image"  width="223" height="179" style="transform: rotate(0.13deg)")
                    a(href="img/Ambassador_Toys/toys_works/catchThem@3x.jpg" data-fslightbox="gallery" class=" sm:col-span-5 sm:row-span-3 sm:scale-150 lg:scale-125" style="grid-row-start: 12; grid-column-start: 7")
                        img(class="shadow-xl" loading="lazy" src="img/Ambassador_Toys/toys_works/catchThem.jpg", alt="Catch Them While You Can Image" style=" transform: rotate(0.87deg)" width="631" height="213")


                div(class="toys-works-grid grid gap-y-8 place-content-center place-items-center drop-shadow-2xl mt-10" style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))")
                    a(href="img/Ambassador_Toys/toys_works/littleGreenThumbs@3x.jpg" data-fslightbox="gallery" class="min-w-max md:justify-self-end" )
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/littleGreenThumbs.jpg", alt="Little Green Thumbs Image"  width="249" height="128" )
                    a(href="img/Ambassador_Toys/toys_works/rainGear@3x.jpg" data-fslightbox="gallery" class="min-w-max " )
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/rainGear.jpg", alt="Rain Gear Image"  width="170" height="136" )
                    a(href="img/Ambassador_Toys/toys_works/Pandamonium@3x.jpg" data-fslightbox="gallery" class="min-w-max lg:justify-self-start ")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/Pandamonium.jpg", alt="Pandamonium Image"  width="170" height="136" )
                    a(href="img/Ambassador_Toys/toys_works/AT-toydetailpage@3x.jpg" data-fslightbox="gallery" class="min-w-max ")
                        img(class="relative" loading="lazy" src="img/Ambassador_Toys/toys_works/AT-toydetailpage.jpg", alt="Ambassador Toys Detail Page Image"  width="242" height="182" style="transform: rotate(-0.88deg)")
                    a(href="img/Ambassador_Toys/toys_works/AT-home@3x.jpg" data-fslightbox="gallery" class="min-w-max " )
                        img(class="relative" loading="lazy" src="img/Ambassador_Toys/toys_works/AT-home.jpg", alt="Ambassador Toys Homepage Image"  width="233" height="184" )
                    a(href="img/Ambassador_Toys/toys_works/at-toyshome@3x.jpg" data-fslightbox="gallery" class="min-w-max " )
                        img(class="relative" loading="lazy" src="img/Ambassador_Toys/toys_works/at-toyshome.jpg", alt="AT Toys Home Image"  width="245" height="184" style=" transform: rotate(1.3deg)")

                div(style="transform: translateY(16px)")
                    img(loading="lazy" src="img/Ambassador_Toys/redCar.png" srcset="img/Ambassador_Toys/redCar.png 594w, img/Ambassador_Toys/redCar@1.5x.png 891w, img/Ambassador_Toys/redCar@2x.png 1188w, img/Ambassador_Toys/redCar@3x.png 1782w,"  width="550" height="305" alt="Boy in Red Car" class="mx-auto relative"  data-aos="zoom-in-right")

    div(class="container mt-12 md:mt-20")
        -
            const team = [
                //- {
                    //- role: "Copywriter",
                    //- name:"Mukul Bakshi",
                    //- contacts: {
                    //-     twitter: "https://twitter.com/MukulBakshi",
                    //-     linkedin: "https://www.linkedin.com/in/mukulbakshi/"
                    //- }
                //- },
                //- {
                //-     role: "Video Editor",
                //-     name: "Kia Reaghabi"
                //- },
                //- {
                //-     role: "Client",
                //-     name: "Atul Chawla",
                //-     contacts: {
                //-         linkedin: "https://www.linkedin.com/in/atulchawla/"
                //-     }
                //- }
            ]
        +team(team)


append footer_scripts
    //- script(src="../js/rotateRandom.js")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" media="print"  onload="this.media='all'"/>
    style.
        .animatedLogo {
            animation: zoomInDown;
            animation-duration: 3.5s;
            animation-delay: 1.2s;
            animation-fill-mode: both;
        }
        .animate__heroBg {
            animation: fadeInDown;
            animation-duration: 4s;
            animation-iteration-count: 1;
            animation-fill-mode: both;
        }
        .stars_fadein {
            animation: fadeIn;
            animation-duration: 5s;
            animation-iteration-count: 1;
            animation-fill-mode: both;
        }
    script(src="js/ambassador_toys.js" async)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.min.js" integrity="sha512-EqNNJuepkw5P9vxCml8eBk7C4Ld+4kAnvzOD/jG21rkxWPILGoQa5EvD62UieiJF0u3xoQrcVnce4i83VnYj/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" async></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" media="print" onload='this.media="all"' />



