extends ./layout/base
block variables
    - var pageTitle = 'Tungsten Advertising Case Study | Ambassador Toys'

prepend preload

append head
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" media="print"  onload="this.media='all'"/>
    style.
        .animatedLogo {
            animation: zoomInDown;
            animation-duration: 3.5s;
            animation-delay: 1.2s;
            animation-fill-mode: both;
        }
        .animate__heroBg {
            animation: fadeInDown;
            animation-duration: 4s;
            animation-iteration-count: 1;
            animation-fill-mode: both;
        }


block page
    div(class="hero relative grid h-2/6 overflow-hidden")
        img(src="img/Ambassador_Toys/Ambassador_Hero_Bg.jpg", srcset="img/Ambassador_Toys/Ambassador_Hero_Bg_small.jpg 900w, img/Ambassador_Toys/Ambassador_Hero_Bg_Mid.jpg 1400w, img/Ambassador_Toys/Ambassador_Hero_Bg.jpg 1900w" alt="" class="max-w-none h-72 sm:h-96 lg:h-full object-center object-cover" width="1920" height="494")
        img(src="img/Ambassador_Toys/Ambassador_logo_2x.png", srcset="img/Ambassador_Toys/Ambassador_logo_1x.png 1x, img/Ambassador_Toys/Ambassador_logo_2x.png 2x" sizes="50vw, (min-width:768px) 35vw, (min-width:1024px) 503px" alt="" class="absolute inset-0 m-auto mt-24 sm:mt-32 z-10 w-64 sm:w-72 lg:w-auto" width="503" height="162")

    +page-title({
        tagClient: 'Ambassador Toys',
        h1: 'How a Neighborhood Toy Store Got San Francisco’s Attention.',
        subtitle: 'A retail chain of toy stores across the San Francisco Bay Area had been buying media space, but had never had a creative agency.',
        classes: '-translate-y-20'
    })
    //- +lead-in(`When you're a <span class="text-blue-light">tightrope walker</span> traversing the <span class="text-blue-light">Grand Canyon</span>, a surprise gush of wind can mean the end of your world.`)

    article.page-content.mt-0.leading-relaxed.overflow-hidden
        .container.flow-root
            img(src="img/Ambassador_Toys/giraffe.png", srcset="img/Ambassador_Toys/giraffe.png 1x, img/Ambassador_Toys/giraffe.png 2x", alt="Giraffe Toy" class="float-right shape-outside -mt-8 -mr-12 w-48 sm:w-64 md:w-5/12" width="376" height="516" data-aos="zoom-in-down")
            p.drop-cap(style="--color: hsla(205, 74%, 47%, 1)").
                For years, the stores had relied on TV stations or the in-house graphics departments of newspapers to create the ads. (Most publications will offer this service if you buy space from them.)
            p.
                This led to fragmented creative executions. Each ad had a different message and a different look.

            p.
                Although the retail store had a sizable media spend, it was not  resulting in a unified brand image. In fact, it may have been doing the opposite. Disparate creative executions produced by  different publications were likely eroding and fragmenting the  brand's image in the mind of the consumer.
            p.
                Tungsten's immediate task was to give the brand a central idea, and execute that idea across multiple consumer touch-points, so  that the brand had a consistent message and image.
            p.
                What differentiates this chain from other toy retailers is that it has the finest collection of high quality, intellectually stimulating, often unusual toys. Toys designed to make the child think, engage, and grow.
            p.
                The brand is targeted toward parents that are predominantly  affluent, internationally aware, environmentally conscious, and  who seek toys for their children that can be described as wise, useful, having longevity, stimulating the imagination. Toys that are social and interactive.

            div.relative.my-10
                div.relative.flex.items-center
                    div(data-aos="zoom-out" class="relative z-10")
                        img(loading="lazy" src="img/Ambassador_Toys/toys_works/bearNecessities.jpg", alt="" width="514" height="174" class="-rotate-3 shadow-2xl flex-none relative z-20" )
                    img(loading="lazy" src="img/Ambassador_Toys/paper_plane.png", alt="" class="flex-none h-max" width="199" height="85" data-aos="zoom-out-right" data-aos-delay="350" class="w-3/12 md:w-auto")
                div(data-aos="zoom-out" data-aos-data-aos-delay="350" class="z-30 relative")
                    img(loading="lazy" src="img/Ambassador_Toys/toys_works/catchThem.jpg", alt="" width="631" height="213" class="rotate-3 shadow-2xl sm:-mr-10 ml-auto " )
                img(loading="lazy" src="img/Ambassador_Toys/two_clouds.png", alt="" class="absolute inset-0 -left-32 -z-10" data-aos="zoom-in-right" data-aos-duration="2000")

            div(class="relative w-96 aspect-square mx-auto sm:float-left" style="shape-outside: circle(50%);")
                div(class=" absolute z-10 inset-0 bottom-3 right-2 m-auto w-72 h-36 text-white uppercase text-xl font-proxima-bold text-center leading-relaxed rounded-full").
                    Tungsten has years of experience creating distinctive/memorable  advertising ideas for uniquely San Francisco brands.
                img(src="img/Ambassador_Toys/BlueCircleStars.svg", alt="" class="-left-8 absolute z-0 scale-110 sm:scale-105" loading="lazy" width="402" height="374")
            p(class="sm:!mt-20").
                Tungsten gave the brand a distinctive look, voice, style, and identity. The creative gives the brand an image that is charming,  irreverent, witty, unpredictable, sometimes wry, always cerebral, independent and premium.
            p.
                It differentiates the retail chain from “big-box” competitors like  Walmart by communicating the value of toys. And the values of the retail store. And by emphasizing values like quality of build, and quality of emotional engagement.
            p.
                Each ad is topical and based on current events and seasons. This strategy allowed Tungsten to demonstrate the wide range of toys the stores carry, and to show that this retailer offers a hand picked selection that appeals to its faithful target audience.

            div(style="text-shadow: 0 0 3px #fff;" class="relative mt-10 lg:mt-16 pb-36 lg:pb-48 min-h-max")
                img(loading="lazy" src="img/Ambassador_Toys/RainbowRobot.png", alt="Robot Toy" class=" md:w-auto absolute -right-10 bottom-0 sm:-bottom-12 -translate-y-10 -z-10 scale-150 sm:scale-110 md:scale-100" width="781" height="474")
                p(class="md:w-9/12").
                    Readers of the San Francisco Chronicle found these ads so enjoyable that they looked forward to the new creative every time the weekly ad was published on Tuesday mornings.
                p(class="sm:w-9/12").
                    Tungsten has years of experience creating distinctive/memorable  advertising ideas for uniquely San Francisco brands.
                p(class="!mt-10 w-11/12 sm:w-9/12 md:w-8/12 pr-4 sm:pr-10" style="").
                    Whether your product is exclusive to San Francisco or  distributed across the world, we would love to hear from you  about your brand and share ideas on how advertising can help achieve your company's business objectives.

        div(class="pt-20 relative")
            img(loading="lazy" src="img/Ambassador_Toys/blueBG.jpg" width="1920" height="1713" alt="alt" class="absolute z-0 inset-0 w-full h-full object-cover")
            .container.relative
                img(loading="lazy" src="img/Ambassador_Toys/butterfly.png", alt="" class="left-10 -top-36 aspect-square absolute z-0" width="202" data-aos="zoom-in-up")
                div(class="toys-works-grid relative z-10 -mt-8 grid grid-cols-12 gap-8 place-items-center drop-shadow-xl")
                    div(class=" drop-shadow-xl col-span-4 row-span-3 self-end")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/bestSeat.jpg", alt="Best Seat Image" width="226" height="146" style="transform: rotate(-1.68deg)")
                    div(class="col-span-3 row-span-3")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/diabolicalPieces.jpg", alt="Diabolical Pieces Image" width="180" height="176")
                    div(class="col-span-5 row-span-3 self-start")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/giraffeAd.jpg", alt="Girafee Ad Image" style=" transform: rotate(1.29deg) " width="298" height="102")
                    div(class="col-span-3 row-span-3")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/zeroEmissionVehicle.jpg", alt="Zero Emission Vehicle Image" width="181" height="146")
                    div(class="col-span-4 row-span-3")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/randomActs.jpg", alt="Random Acts of Hugging Image" width="249" height="161")
                    div(class="col-span-5 row-span-3 self-start justify-self-start ")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/easyRider.jpg", alt="Easy Rider Image"  style="margin-top: -80px;" width="280" height="145")
                    div(class="col-span-4 row-span-2 justify-start")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/bearNecessities.jpg", alt="Bear Necessities Image" width="514" height="174" style="transform: rotate(0.44deg)")
                    div(class="col-span-3 row-span-3 self-start")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/paparazzis.jpg", alt="Paparazzis Image" width="170" height="137")
                    div(class="col-span-5 row-span-2 self-start")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/notDoWindows.jpg", alt="I don not do Windows Image" style="margin-top:-90px;" width="273" height="140")
                    div(class="col-span-5 row-span-1 self-center" )
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/RadarDetector.jpg", alt="Radar Detector Not Included Image" style="margin-top: -50px; transform: rotate(-0.35deg)" width="307" height="102")
                    div(class="col-span-2 row-span-8 self-end")
                        img(class="shadow scale-110" loading="lazy" src="img/Ambassador_Toys/toys_works/crumpledCasuals.jpg", alt="Crumpled Casuals Image" style="margin-top: -50px;" width="107" height="408")
                    div(class="col-span-3 row-span-2 place-self-start")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/semiFormalDinner.jpg", alt="Formal Dinner Image" style="margin-top: -60px;" width="186" height="97")
                    div(class="col-span-3 row-span-4 place-self-start")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/kungShi.jpg", alt="Kung Shi Image" style="margin-top: -50px; transform: rotate(-0.82deg)"  width="180" height="203")
                    div(class="col-span-3 row-span-3 self-start")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/rakeInFun.jpg", alt="Rake in the Fun Image"  width="223" height="179" style="transform: rotate(0.13deg)")

                    div(class="col-span-2 row-span-3")
                    div(class="col-span-3 row-span-3")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/ChinesePoster.jpg", alt="Chinese Poster Image" style="margin-top: -360px;" width="183" height="275")
                    div(class="col-span-7 row-span-3")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/catchThem.jpg", alt="Catch Them While You Can Image" style="margin-top: -320px; transform: rotate(0.87deg)" width="631" height="213")

                    div(class="col-span-1 row-span-3" style="margin-top: -90px;")
                    div(class="col-span-4 row-span-3" style="margin-top: -100px;")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/littleGreenThumbs.jpg", alt="Little Green Thumbs Image"  width="249" height="128" )
                    div(class="col-span-3 row-span-3 place-self-start" style="margin-top: -150px;")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/rainGear.jpg", alt="Rain Gear Image"  width="170" height="136" )
                    div(class="col-span-3 row-span-3" style="margin-top: -220px;")
                        img(class="shadow" loading="lazy" src="img/Ambassador_Toys/toys_works/Pandamonium.jpg", alt="Pandamonium Image"  width="170" height="136" )
                    div(class="col-span-1 row-span-3")


                    div(class="col-span-4 row-span-4 self-start" style="margin-top: 20px;")
                        img(class="relative" loading="lazy" src="img/Ambassador_Toys/toys_works/AT-toydetailpage.jpg", alt="Ambassador Toys Detail Page Image"  width="242" height="182" style="transform: rotate(-0.88deg)")
                    div(class="col-span-4 row-span-4 self-start" style="margin-top: -50px;")
                        img(class="relative" loading="lazy" src="img/Ambassador_Toys/toys_works/AT-home.jpg", alt="Ambassador Toys Homepage Image"  width="233" height="184" )
                    div(class="col-span-4 row-span-4 self-start" style="margin-top: -40px;")
                        img(class="relative" loading="lazy" src="img/Ambassador_Toys/toys_works/at-toyshome.jpg", alt="AT Toys Home Image"  width="245" height="184" style=" transform: rotate(1.3deg)")

                div(style="transform: translateY(16px)")
                    img(loading="lazy" src="img/Ambassador_Toys/redCar.png" width="550" height="305" alt="Boy in Red Car" class="mx-auto relative"  data-aos="zoom-in-right")

    div(class="container mt-12 md:mt-20")
        -
            const team = [
                //- {
                    //- role: "Copywriter",
                    //- name:"Mukul Bakshi",
                    //- contacts: {
                    //-     twitter: "https://twitter.com/MukulBakshi",
                    //-     linkedin: "https://www.linkedin.com/in/mukulbakshi/"
                    //- }
                //- },
                //- {
                //-     role: "Video Editor",
                //-     name: "Kia Reaghabi"
                //- },
                //- {
                //-     role: "Client",
                //-     name: "Atul Chawla",
                //-     contacts: {
                //-         linkedin: "https://www.linkedin.com/in/atulchawla/"
                //-     }
                //- }
            ]
        +team(team)


append footer_scripts
    //- script(src="../js/rotateRandom.js")



