extends ./layout/base
block variables
    - let pageTitle = 'The Ideas Agency | Creative Advertising with Powerful Brand Ideas'
    - let metaDescription = 'Tungsten is an advertising agency that uses the power of ideas to create memorable and distinctive messaging for brands. From big ideas to bite-sized, we can help any brand win in the marketplace.'
    - let mediaFolder = 'media/home/';
    - let currentUrl = '/';

prepend preload

append preload




prepend head
    style.
        #title {
            max-width: 16ch;
            font-size: clamp(2.2rem, 11vw, 3.75rem);
        }
        #read-more-button.opened .icon-arrow {
            transform: scaleX(-100%);
            transition: .25s ease-out;
        }



block page


    .hero(class="relative flex flex-col")
        .container(class="max-w-7xl absolute inset-0 w-full m-auto z-10 flex flex-col justify-end items-start")
            button(id='read-more-button' class='mb-3 lg:mb-4 xl:mb-5 2xl:mb-5 px-5 py-2 lg:px-8 lg:py-4 text-lg lg:text-xl xl:text-2xl font-proxima-bold flex items-center bg-gradient-to-t from-white/20 to-white/50 group border-2 border-white/50' style={
                color: '#006EC6',
                'border-radius': '34px',
                filter:'drop-shadow(5px 5px 2px hsla(0, 0%, 0%, .1))'
            })
                span.text Discover Tungsten
                svg( fill="none" viewBox="0 0 19 19" class="ml-4 stroke-1 icon-arrow stroke-current fill-current group-hover:translate-x-1 duration-500 transition-transform w-4 h-4 xl:w-5 xl:h-5")
                    path( d="m9.5 19-1.692-1.663 6.65-6.65H0V8.313h14.458l-6.65-6.65L9.5 0 19 9.5 9.5 19Z")
        picture
            source(media="(max-width: 767px)" srcset=`../media/home/lightbulb-mobile@520.jpg 520w, ../media/home/lightbulb-mobile@640.jpg 640w, ../media/home/lightbulb-mobile@768.jpg 768w` width="768" height="458")
            +image({
                dir: mediaFolder,
                name: 'lightbulb',
                ext: 'jpg',
                alt:"Glowing lightbulb with filament made of tungsten ",
                resolutions:[1024, 1366, 1600, 1920],
                width:"1920",
                height:"566",
                loading: 'eager',

            })(id="tngst-hero" class="w-full h-full inset-0 hero-bg object-cover z-0 object-center")







    article(
        class="page-content leading-normal overflow-hidden"
    )
        div(class="expander" style="height: 0; transition: height .5s ease-in-out;")
            .container(class=" relative mb-10 lg:mb-20 flow-root" style="max-width: 736px;")
                h1(id="title" class="leading-none mt-8 sm:mt-10 md:mt-12 xl:mt-14 font-proxima-bold text-blue-dark").
                    <span style="color: #315BA9;"> A Great Idea is a</span>
                    Great Equalizer
                //- div(class="text-blue-dark uppercase font-proxima-bold text-base xs:text-lg lg:text-xl xl:text-2xl mt-5") Tungsten is an advertising agency. We solve marketing problems for our clients

                p(class="text-blue-dark text-base xs:text-lg lg:text-xl xl:text-2xl font-proxima-bold mt-5 mb-6 lg:mb-10") Today, any brand can win in the marketplace with a powerful brand idea.

                p Ideas are what hold consumer attention.
                p Big brands, small brands, they’re all equal in the eyes of the web.
                div(class="xs:float-right text-xl border-l-4 border-current pl-4 xs:ml-4 my-5" style="max-width: 240px; color: #CB2866;")
                    span(class="uppercase font-proxima-bold") "In a [FREE MARKET] economy, the most valuable resource is people's attention." <br>
                    em() - Wally Olens
                p A company can win a global market, or create a new market. It can do it quickly, at relatively low cost, and from anywhere in the world.
                p What sets a brand apart, is a great advertising idea. A great idea is a great equalizer, and a great differentiator. Ideas can disrupt markets and scramble old equations.
                p Ideas enable brands to communicate with consumers more persuasively and memorably. With greater engagement and recall.
                p Whether online, in print, on TV or on radio, any advertising message is infinitely more effective when it has a great creative idea behind it. That's how brands engage, enthrall, and connect with their consumers. That's how brands hold their consumers' attention.
            div(style="background: radial-gradient(70% 70% at 50%, #4870BA 0%, #19438F 100%); " class="py-10 lg:pt-20 lg:pb-16")
                .container(class="text-white" style="max-width: 736px;")
                    b(class="text-2xl") Ideas give the advantage to the disrupter, not the disrupted.
                    p(class="mt-0") That's why brands need Tungsten: the ideas agency.

                    p At Tungsten, we think of ideas all day. It's what we do. We create ideas for all types of brands and products. Mostly big ideas that a client can confidently put their resources behind. But sometimes, bite-sized ideas for that fleeting tactical opportunity presented by a trending hashtag.

                    p Ideas are who we are. What we live for. It's why we call ourselves Tungsten.

                    p Ideas, you see, are represented by the light bulb. And at the heart of a light bulb, there is the filament. Made of... yes, made of tungsten.

                    p That's why we named ourselves Tungsten.

                    p To remind ourselves every minute of every day that anything we do, any ad we create, any work that leaves our door, must at its heart have a strong brand idea. Nothing less will do.

                    p A great idea is not just a brand differentiator. It's a great equalizer. An ad with a strong idea penetrates the media clutter with memorable and distinctive messaging that triggers consumer desire, moves you, makes you laugh, makes you buy, makes you donate, makes you join a social trend, adopt a puppy, cut carbon, buy a car, or try a new candy bar.

                    .text-center
                        a(class="mx-auto inline-block text-white no-underline py-3 px-5 rounded-full border-2 border-current font-proxima-bold uppercase mt-5 lg:mt-10 hover:opacity-50 transition-opacity will-change-opacity" style="filter: drop-shadow(0 1px 2px var(--c-blue-dark)/20)" href="mailto:hello@tngstn.com" target="_blank" rel="noopener noreferrer" aria-label="Contact us button") Contact




append footer_scripts
    script(src="js/home.js" defer)







