a {
  @apply underline text-blue-light; }
  a:hover {
    @apply no-underline; }

/* above the fold styles start */
:root {
  --c-blue-light: #338bc8;
  --c-blue-link: #2581d0;
  --c-blue: #185599;
  --c-blue-dark: #071f51;
  --f-proxima: 'ProximaNovaA-Regular', sans-serif;
  --f-proxima-bold: 'ProximaNovaA-Bold', sans-serif; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 960px; }

header.header {
  position: relative;
  z-index: 10;
  padding: 1rem 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.07); }
  header.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header.header .logo {
    width: clamp(150px, 15vw, 170px); }

.nav-menu {
  display: inline-block;
  width: clamp(37px, 5vw, 40px); }

.page-title {
  @apply py-8; }
  .page-title h1 {
    margin-top: 1rem;
    font-family: 'ProximaNovaA-Bold', sans-serif;
    font-size: clamp(1.8rem, 8vw, 2.7rem);
    letter-spacing: .5px;
    line-height: 1.15;
    color: var(--c-blue-dark); }
    @media (min-width: 640px) {
      .page-title h1 {
        font-size: 3.1rem;
        letter-spacing: 1px;
        line-height: 1.2; } }

.page-subtitle {
  margin-top: 1.25rem;
  color: var(--c-blue-dark);
  font-size: clamp(1.35rem, 6vw, 2rem);
  line-height: 1.3; }
  @media (min-width: 640px) {
    .page-subtitle {
      font-size: 2.1rem; } }

.tag-client {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-family: var(--f-proxima-bold);
  background-color: var(--c-blue-light);
  color: #fff;
  font-size: clamp(0.7rem, 2vw, 0.8rem);
  letter-spacing: .2px;
  display: inline-block; }

.lead-in {
  background-color: #ebebeb;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'ProximaNovaA-Bold', sans-serif;
  font-size: clamp(1.25rem, 4vw, 1.35rem); }

.btn-audio {
  border-width: 1px;
  color: var(--c-blue-dark);
  border-color: currentColor;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  padding-top: 0;
  padding-bottom: 0;
  height: 38px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'ProximaNovaA-Bold', sans-serif; }
  .btn-audio svg {
    width: 5rem;
    margin-right: 15px; }

/* above the fold styles end */
.content p:not(:first-child) {
  @apply mt-3 sm:mt-4 md:mt-6; }

.content img.float-right,
.content img.float-left {
  shape-margin: 15px; }

.have_question {
  box-shadow: inset 0 -10px 40px rgba(0, 0, 0, 0.05), inset 0 -5px 30px rgba(0, 0, 0, 0.1); }

.drop-cap:first-letter {
  @apply float-left text-7xl font-extrabold leading-none m-0 -mt-2 py-0 pl-0 pr-2 font-serif;
  color: var(--color); }

.works-grid {
  @apply grid grid-cols-2 md:grid-cols-3 gap-2 md:gap-4 mt-10; }
  .works-grid a.item {
    @apply relative block shadow-cardshadow overflow-hidden border-3 border-white hover:border-blue-light transition-all; }
    .works-grid a.item img {
      @apply relative transition-all z-0 duration-700; }
    .works-grid a.item .overlay {
      @apply absolute top-0 left-0 bottom-0 right-0 grid place-items-center opacity-0 invisible z-50;
      background-color: rgba(1, 86, 147, 0.85);
      transition: .3s ease;
      pointer-events: none; }
      .works-grid a.item .overlay .text {
        @apply text-center;
        color: #fff;
        text-shadow: 0 1px 5px var(--c-blue-dark); }
        .works-grid a.item .overlay .text .project-category {
          font-size: 14px;
          text-transform: uppercase;
          transform: translate(-10px);
          visibility: hidden;
          opacity: 0;
          transition: .3s ease;
          transition-delay: .2s; }
        .works-grid a.item .overlay .text .project-name {
          font-size: 20px;
          font-family: var(--f-proxima-bold);
          transform: translate(-10px);
          visibility: hidden;
          opacity: 0;
          transition: .3s ease;
          transition-delay: .4s; }
        .works-grid a.item .overlay .text .project-type {
          transform: translate(-10px);
          visibility: hidden;
          opacity: 0;
          transition: .3s ease;
          transition-delay: .6s; }
    .works-grid a.item:hover img {
      @apply scale-110 transform rotate-1; }
    .works-grid a.item:hover .overlay {
      @apply opacity-100 visible; }
      .works-grid a.item:hover .overlay .text > div {
        transform: none;
        opacity: 1;
        visibility: visible; }
