footer.footer.relative.w-full.bg-indigo.py-14.border-b-12.border-blue-dark
    .container.text-indigo-light.px-5.text-sm
        div(class=" text-white uppercase text-lg font-proxima-bold !leading-tight").
            Tungsten, Inc. <br>
            #[small(class="text-xs font-proxima opacity-50") A California Corporation]
        .mt-5.
            268 Bush Street, #3438 <br>
            San Francisco, CA 94104<br>
            (415) 269-6931
        .mt-5
            a.text-white.font-proxima-bold(href="mailto:hello@tngstn.com" target="_blank" rel="noopener noreferrer") hello@tngstn.com
            -
                const social = [
                    {
                        link:"https://www.facebook.com/TungstenAdvertising",
                        icon:"facebook"
                    },
                    {
                        link:"https://twitter.com/TungstenAds",
                        icon:"twitter"
                    },
                    {
                        link:"https://www.linkedin.com/company/tungsten-advertising/",
                        icon:"linkedin"
                    },
                    {
                        link:"mailto:hello@tngstn.com",
                        icon:"envelope"
                    }
                ]
        .mt-5
            .social.flex.space-x-3.mt-3
                each x in social
                    a(class="text-blue-link hover:text-blue inline-block transition-colors" href=`${x.link}` target="_blank" aria-label=`${x.icon}`)
                        +iconMono({
                            icon: `${x.icon}`,
                            class: 'w-8 h-8 fill-current',
                        })




        .mt-8.
            Copyright ©2022 Tungsten, Inc. All Rights Reserved. <br>
            <a href="#" class="text-blue-light font-proxima-bold no-underline">Privacy Policy</a>


    button(id="go-to-top" class="go-to-top fixed z-[500] opacity-0 invisible bottom-10 right-10 lg:bottom-12 lg:right-12 w-14 h-14 transition-all duration-500 cursor-pointer text-blue hover:text-blue-light")
        +iconMono({
            icon: 'back-to-top',
            class: 'stroke-current fill-transparent w-full h-full'
        })


