div(class="py-12 md:py-20 have_question text-center relative bg-white")
    .container.max-w-7xl
        a(class="inline-block text-center font-semibold text-lg md:text-xl text-blue" href="mailto:hello@tngstn.com" target="_blank" rel="noopener noreferrer").
            Have a question or comment about <br> Tungsten’s work? Tell us</a>
