header.header.relative.z-50.py-4
    .container.flex.justify-between.items-center
        a(class=" logo w-36 md:w-44 h-12 md:h-14" href="/")
            svg.w-full.h-full
                +iconMulti("logo")

        a(class="nav-menu w-12 md:w-14 h-6 md:h-7 text-blue hover:text-blue-light" href="mailto:hello@tngstn.com" target="_blank" rel="noopener noreferrer")
            svg(class="fill-transparent stroke-current stroke-[6px] w-full h-full")
                +iconMono("envelope-closed")

